.leaflet-popup {
  width: 330px;
  text-align: left !important;
}

.leaflet-popup-tip-container {
  z-index: 1;
}

.leaflet-control-search.search-exp {
  border: none;
}

.leaflet-control-search .search-input {
  width: 200px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  background: none;
  outline: none;
  color: #fff;
}

.leaflet-control-search .search-cancel {
  color: #fff;
  background: none;
  width: unset;
  height: unset;
  right: 0;
}

.leaflet-control-search .search-cancel i {
  font-size: 18px;
}

.leaflet-control-search .search-button {
  background: none;
  color: #fff;
}

.leaflet-control-search .search-button:hover {
  background: unset;
}

.leaflet-control-search .search-button .mdl-button {
  position: unset;
  top: unset;
  bottom: 4px;
}

.leaflet-control-search .search-button .mdl-button .material-icons {
  left: unset;
}

.leaflet-control-search .search-tooltip {
  margin: 0;
  padding: 8px 0;
  visibility: visible;
  max-height: unset;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 2px;
}

.leaflet-control-search .search-tooltip .search-tip {
  margin: 0;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  text-align: left;
  background: unset;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.87);
}

.leaflet-control-search .search-tooltip .search-tip:hover {
  background: rgba(0, 0, 0, 0.08);
}
